<div style="position: fixed">
<div class="head">
  <img src="assets/Capture.png" width="117%" height="150px">
</div>
<div class="head">
  <div style="margin-left: 400px; margin-top: 17px; color: white">
    <h3 style="display: inline; font-size: 21px; font-family: Roboto"> 2011 MKT 007 -</h3>
    <pre style="display: inline; background-color: transparent; border: transparent"> </pre>
    <p style="display: inline; font-size: 18px; font-family: Roboto">Capacity building of farmer-based organizations in World Food
      Program</p>
  </div><br>
  <p style="color: white; font-size: 13px; margin-left: 400px; font-family: Roboto">Last Modified by Synergy Administration on 18-Jan-2016,
    11:55</p>
</div>
<div style="position: fixed; margin-left: 1200px">
  <button class="btnn" style="background-color: #6B8E23 ; color: white">CANCEL</button>
  <button class="btnn">SAVE</button>
  <button class="btnn" style="width: 120px">SEVE & CLOSE</button>
</div>
</div>
